.scroll::-webkit-scrollbar {
    width: 5px;
  }
   
  .scroll::-webkit-scrollbar-track {
    background: #ddd;
  }
   
  .scroll::-webkit-scrollbar-thumb {
    background: #666; 
  }


  .base{
    height: 532px;
  }
